.greetings-screen__text {
  font-style: italic;
  font-size: 15px;
  font-weight: 500;
  max-width: 450px;
  margin-bottom: 30px;
  line-height: 30px;
  letter-spacing: .5px;
  color: $greetings-screen__text--Color;
}
