.form-container__secure-level-container {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat' ,"Arial" , "Sans-serif";
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: $form-container__secure-level-container--Color;
  background-color: $form-container__secure-level-container--BGColor;
  @include py(10px);
  @media (min-width: $md){
    display: none;
  }
}
