include ../../../img/svg/question.pug
mixin portfolio-screen__example-description-button(modifier)
  button.portfolio-screen__example-description-button&attributes(attributes)
    +question(modifier)(class="portfolio-screen__example-href-img")