mixin skills-and-services-screen__services(modifier)
  .skills-and-services-screen__services&attributes(attributes)
    +skills-and-services-screen__service-title(modifier)
    +skills-and-services-screen__service-cards(modifier)