include __sign/header__sign.pug
include __item-img/header__item-img.pug
include __item-content/header__item-content.pug
include __item/header__item.pug
include __navigation/header__navigation.pug
include __content/header__content.pug
mixin header(modifier)
  .header&attributes(attributes)
