mixin navigation__items-container(modifier)
  if modifier["items"] == undefined
        - modifier["items"] = [{itemContent: "empty items array"}];
  ul.navigation__items-container&attributes(attributes)
    each item in modifier.items
      if item["modifier"] == undefined
        - item["modifier"] = "";
      +navigation__item(item)