mixin greetings-screen__title(modifier)
  if modifier["title"] == undefined
    - modifier["title"] = "empty__title";
  if modifier["titleColored"] == undefined
    - modifier["titleColored"] = "";
  h1.greetings-screen__title&attributes(attributes)!=modifier.title
    span!=modifier.titleColored