.greetings-screen__title {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 14px;
  span{
    color: $greetings-screen__title-colored--color;
  }

  @media (max-width: $md - 1px){
    text-align: center;
    font-size: 35px;
  }
}
