mixin navigation__item(modifier)
  if modifier["target"] == undefined
    - modifier["target"] = "";
  .navigation__item(data-target=modifier.target)&attributes(attributes)
    +navigation__item-content(modifier)
    +navigation__item-img(modifier)