@import '__sign/navigation__sign';
@import '__item-img/navigation__item-img';
@import '__item-content/navigation__item-content';
@import '__item/navigation__item';
@import '__items-container/navigation__items-container';
@import '__content/navigation__content';
.navigation {
  font-family: 'Montserrat' ,"Arial" , "Sans-serif";
  font-size: 15px;
  height: 100%;
  width: 30%;
  position: fixed;
  @media (max-width: $md - 1px) {
    width: 100%;
  }
}
