@import '__item-container/navigation__item-container';
@import '__sign/navigation__sign';
@import '__item-img/navigation__item-img';
@import '__item-content/navigation__item-content';
@import '__item/navigation__item';
@import '__items-container/navigation__items-container';
@import '__content/navigation__content';
.navigation {
  font-family: 'Montserrat' ,"Arial" , "Sans-serif";
  font-size: 15px;
  height: 100%;
  width: 30%;
  position: fixed;
  background-color: $navigation--BGColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: $md - 1px) {
    align-items: stretch;
    width: 100%;
    height: auto;
    @include py(25px);
  }
}
