/* no sense variables */
$transparent: transparent;
$white: #ffffff;
$black: #000000;

$gray: #999;

/* variables with sense */
/* *********************************************************************** */
$navigation__item--Color: $black;
