mixin my-person-screen__content(modifier)
  .my-person-screen__content&attributes(attributes)
    +my-person-screen__img(modifier)
    +my-person-screen__title(modifier)
    +my-person-screen__text-container(modifier)