.greetings-screen__contact-img {
  @include square(30px);
  path{
    -moz-transition: fill .3s;
    -webkit-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s;
  }

  &:hover{
    path{
      fill: $greetings-screen__contact-img-hover--Color;
    }
  }
  &:active{
    path{
      fill: $greetings-screen__contact-img-active--Color;
    }
  }
}
