mixin portfolio-screen__example-hrefs(modifier)
  ul.portfolio-screen__example-hrefs&attributes(attributes)
    +portfolio-screen__example-git-href(modifier)
    +portfolio-screen__example-site-href(modifier)