.portfolio-screen__example-hrefs {
  background-color: $portfolio-screen__example-hrefs--BGColor;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (max-width: $md - 1px){
    height: auto;
    background-color: $transparent;
    justify-content: flex-end;
    position: relative;
    top: -30px;
  }
}
