mixin portfolio-screen__example-hrefs(modifier)
  .portfolio-screen__example-hrefs&attributes(attributes)
    if (modifier.exampleGitHref!='' && modifier.exampleGitHref!= undefined)
      +portfolio-screen__example-git-href(modifier)
    +portfolio-screen__example-description(modifier)
    +portfolio-screen__example-site-href(modifier)