.skill-card__img {
  width: 100%;
  height: 100%;
  padding: 26%;
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-52%);

  &_rounded {
    padding: 17%;
    border-radius: 100%;
  }
}
