mixin skill-card__progress-bar-line(modifier)
  if modifier["radius"] == undefined
    - modifier["radius"] = (modifier.sideLength/2 - 10);
  circle.skill-card__progress-bar-line(r=modifier.radius cx=modifier.sideLength/2 cy=modifier.sideLength/2 fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0")&attributes(attributes)