mixin my-person-screen__bio(modifier)
  if modifier["bios"] == undefined
    - modifier["bios"] = [{bioName:"empty bios array"}];
  dl.my-person-screen__bio&attributes(attributes)
    each bioData in modifier.bios
      +my-person-screen__bio-name(bioData)
      +my-person-screen__bio-value(bioData)
