mixin my-person-screen__BIO(modifier)
  if modifier["bios"] == undefined
    - modifier["bios"] = [{bioName:"empty bios array"}];
  ul.my-person-screen__BIO&attributes(attributes)
    each bioData in modifier.bios
      +my-person-screen__bio-field(bioData)