include ../../../img/svg/gihub.pug
mixin portfolio-screen__example-git-href(modifier)
  if modifier["exampleGitHref"] == undefined
    - modifier["exampleGitHref"] = "#!";
  a.portfolio-screen__example-git-href(href=modifier.exampleGitHref target="blank")&attributes(attributes)
    +gihub(modifier)(class="portfolio-screen__example-href-img")