mixin form-container__secure-measure(modifier)
  if modifier["secureMeasure"] == undefined
    - modifier["secureMeasure"] = "empty__secureMeasure";
  p.form-container__secure-measure&attributes(attributes)!=modifier["secureMeasure"]
