include __skills-title/skillsAndServices__skills-title.pug
include __skills-cards/skillsAndServices__skills-cards.pug
include __skills/skillsAndServices__skills.pug
include ../service-card/service-card.pug
include ../skill-card/skill-card.pug
include __service-cards/skillsAndServices__service-cards.pug
include __service-title/skillsAndServices__service-title.pug
include __services/skillsAndServices__services.pug
mixin skillsAndServices(modifier)
  .skillsAndServices&attributes(attributes)
    +skillsAndServices__services(modifier)
    +skillsAndServices__skills(modifier)
    