include ../service-card/service-card.pug
include ../skill-card/skill-card.pug
include __service-cards/skillsAndServices__service-cards.pug
include __service-title/skillsAndServices__service-title.pug
include __services/skillsAndServices__services.pug
mixin skillsAndServices(modifier)
  .skillsAndServices&attributes(attributes)
    +skillsAndServices__services(modifier)
    +skill-card({})