include ../../blocks/favicon/favicon.pug
include ../../blocks/navigation/navigation.pug
include ../../blocks/greetings-screen/greetings-screen.pug
include ../../blocks/my-person-screen/my-person-screen.pug
include ../../blocks/skills-and-services-screen/skills-and-services-screen.pug
include ../../blocks/portfolio-screen/portfolio-screen.pug
include ../../blocks/preloader/preloader.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title George Semenov portfolio
    //-В папке build будет лежать файл фавикона, строка которая находится ниже позволит подцепить этот файл
    +favicon()
  body
    +preloader()
    +navigation({
      items: [
        {
          itemHref: "#greetings",
          itemContent: "Приветствие",
          imgName: "home",
          target: "greetingsScreen",
          modifier: 'active'
        },
        {
          itemHref: "#about-me",
          itemContent: "Обо мне",
          imgName: "person",
          target: "myPersonScreen"
        },
        {
          itemHref: "#skillsAndServices",
          itemContent: "Навыки и умения",
          imgName: "skillsAndServices",
          target: "skillsAndServices",
          modifier: "navigation__item_skills-and-services",
        },
        {
          itemHref: "#portfolio",
          itemContent: "Портфолио",
          imgName: "bag",
          target: "portfolioScreen"
        }
      ],
      sign: "&#169; Created by",
      signBolded: "George Semenov"
    })
    main
      +greetings-screen({
        hiddenSiteTitle: "Сайт портфолио Семенова Георгия Тенгизовича",
        title: "Семенов ",
        titleColored: "Георгий",
        text: "Фронтэнд разработчик, верстальщик.",
        contacts: [
          {
            contactHref: "tel:+79048616413",
            contactImg: "phone"
          },
          {
            contactHref: "mailto:goshanbosemenov@gmail.com",
            contactImg: "gmail"
          },
          {
            contactHref: "viber://chat?number=%2B79048616413",
            contactImg: "viber"
          },
          {
            contactHref: "https://t.me/GoshanboSemenov",
            contactImg: "telegram"
          },
          {
            contactHref: "https://wa.me/+79048616413",
            contactImg: "whatsapp"
          }
        ]
      })(data-visible='true')
      +my-person-screen({
        title:"О себе",
        text: "Закончил Сыктывкарский государственный университет по специальности радиофизика и электроника, там познакомился с программированием. После университета решил углубиться в web разработку.",
        CVHref: 'http://1100120.hostronavt.ru/portfolio/files/%d0%a1%d0%b5%d0%bc%d1%91%d0%bd%d0%be%d0%b2%20%d0%93%d0%b5%d0%be%d1%80%d0%b3%d0%b8%d0%b9%20%d0%a2%d0%b5%d0%bd%d0%b3%d0%b8%d0%b7%d0%be%d0%b2%d0%b8%d1%87%20CV.pdf',
        bios:[
          {
            bioName:"Дата рождения",
            bioValue: "01.08.1989",
          },
          {
            bioName:"Адрес",
            bioValue: "РФ, г.Сыктывкар",
          },
          {
            bioName:"ВУЗ",
            bioValue: "Сыктывкарский государственный унивеситет",
          },
          {
            bioName:"Знание языков",
            bioValue: "Английский, на уровне чтения тех. литературы",
          }
        ],
        CVbuttonText: "Скачать CV"
      })
      +skills-and-services-screen({
        serviceTitle: "Услуги :",
        serviceCards: [
          {
            imgName: 'frontEnd', 
            title:`Frontend разработка` , 
            description: `Создание лица вашего сайта, с которым будут взаимодействовать посетители`
          },
          {
            imgName: 'wordpress', 
            title:`Wordpress разработка` , 
            description: `Вёрстка сайта и "натягивание" его на одну из самых популярных CMS - Wordpress`
          },
          {
            imgName: 'support', 
            title:`Поддержка` , 
            description: `Стараюсь оперативно отвечать на сообощения в большинстве популярных мессенджеров, на связи с 8 до 18 часов.`
          }
        ],
        skillsTitle: "Навыки :",
        skillCards: [
          {
            title: "HTML5",
            percentage: 75,
            imgObj: {img: require("../../img/skills-icons/html.png")}
          },
          {
            title: "CSS3",
            percentage: 70,
            imgObj: {img: require("../../img/skills-icons/css.png")}
          },
          {
            title: "JS",
            percentage: 63,
            imgObj: {img: require("../../img/skills-icons/js.png"), isRound : true}
          },
          {
            title: "PUG",
            percentage: 86,
            imgObj: {img: require("../../img/skills-icons/pug.png"), isRound : true}
          },
          {
            title: "SASS/SCSS",
            percentage: 86,
            imgObj: {img: require("../../img/skills-icons/sass.png"), isRound : true}
          },
          {
            title: "FIGMA",
            percentage: 43,
            imgObj: {img: require("../../img/skills-icons/figma.png"), isRound : true}
          },
          {
            title: "REACT",
            percentage: 73,
            imgObj: {img: require("../../img/skills-icons/react.png"), isRound : true}
          },
          {
            title: "REDUX",
            percentage: 64,
            imgObj: {img: require("../../img/skills-icons/redux.png"), isRound : true}
          },
          {
            title: "WEBPACK",
            percentage: 49,
            imgObj: {img: require("../../img/skills-icons/webpack.png"), isRound : true}
          },
          {
            title: "GIT",
            percentage: 61,
            imgObj: {img: require("../../img/skills-icons/git.png"), isRound : true}
          },
        ],
        CVbuttonText: "Скачать CV",
        CVHref: 'https://docs.google.com/document/d/1_wLaHAG6phDyO_9WzCtvYy_gKZPxDmWK0NByoPKjVBQ/edit',
      })
      +portfolio-screen({
        title: 'Портфолио',
        buttons:[
          {
            buttonText:"все",
            selector: 'all',
            modifier: "portfolio-screen__button_active"
          },
          {
            buttonText:"многостраничники",
            selector: 'multyPages'
          },
          {
            buttonText:"лэндинги",
            selector: 'landing'
          },
          {
            buttonText:"react",
            selector: 'react'
          }
        ],
        works:[
          {
            exampleSiteHref: './sites/anko-test/',
            exampleGitHref:"https://github.com/GeorgeSemenov/ANKOTest",
            modifier:"portfolio-screen__example-container_img_ANKOTest",
            name: "Electrica",
            mark: 'landing',
          },
          {
            exampleSiteHref: "./sites/afrianska/",
            exampleGitHref:"https://github.com/GeorgeSemenov/afrianska",
            modifier:"portfolio-screen__example-container_img_afrianska",
            name: "Afrianska",
            mark: 'multyPages',
          },
          {
            exampleSiteHref: "./sites/hunger/",
            exampleGitHref:"https://github.com/GeorgeSemenov/hunger",
            modifier:"portfolio-screen__example-container_img_hungry-people",
            name: "Hungry people",
            mark: 'landing',
          },
          {
            exampleSiteHref: "https://films-rect.jegoteam.com/",
            exampleGitHref:"https://github.com/GeorgeSemenov/films-rect",
            modifier:"portfolio-screen__example-container_img_films-rect",
            name: "films-rect",
            mark: 'react multyPages',
          },
          {
            exampleSiteHref: "./sites/house-of-the-sites/",
            exampleGitHref:"https://github.com/GeorgeSemenov/tesJobHouseofTheSites",
            modifier:"portfolio-screen__example-container_img_house-of-the-sites",
            name: "House of sites",
            mark: 'landing',
          },
        ]
      })
      //-
        Все иконки были скачаны с ресурса - flaticon.com 