/* общие стили */
@import "../../styles/allCommonStyles";

/* Стили блоков */
@import "../../blocks/form-container/form-container";

body {
  main{
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    @media (max-width: $md - 1px){
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}
