@import '__secure-measure/form-container__secure-measure';
@import '__secure-level-container/form-container__secure-level-container';
@import '__secure-level/form-container__secure-level';
@import '__img-container/form-container__img-container';
@import '__button/form-container__button';
@import '__input/form-container__input';
@import '__form/form-container__form';
@import '__title/form-container__title';
@import '__text-container/form-container__text-container';
@import '__img/form-container__img';
@import '../input/input';
@import '../button/button';
.form-container {
  display: flex;
  @include mx(auto);
  @media (max-width: $lg - 1px){
    flex-direction: column;
    width: 560px;
  }
  @media (max-width: $md - 1px){
    width: 320px;
  }
}
