.navigation__content {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $md - 1px){
    position: static;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    display: block;
  }
}
