.navigation__sign {
  font-style: italic;
  color: $navigation__sign--Color;
  line-height: 20px;
  b{
    color: $navigation__sign-bolded--Color;
    display: block;
  }
  @media (max-width: $md - 1px){
    display: none;
  }
}
