mixin form-container__text-container(modifier)
  .form-container__text-container&attributes(attributes)
    +form-container__title(modifier.title)(class="form-container__title_desktop-only")
    +form-container__title(modifier.mobileTitle)(class="form-container__title_mobile-only")
    +form-container__form(modifier)