mixin my-person-screen__CV-button(modifier)
  if modifier["CVHref"] == undefined
    - modifier["CVHref"] = "#!";
  if modifier["CVbuttonText"] == undefined
    - modifier["CVbuttonText"] = "empty__CVbuttonText";
  a.my-person-screen__CV-button(href=modifier.CVHref)&attributes(attributes)!=modifier.CVbuttonText
