mixin skills-and-services-screen__skills(modifier)
  .skills-and-services-screen__skills&attributes(attributes)
    +skills-and-services-screen__skills-title(modifier)
    +skills-and-services-screen__skills-cards(modifier)
