mixin greetings-screen__contact(modifier)
  if modifier["contactHref"] == undefined
    - modifier["contactHref"] = "#!";
  a.greetings-screen__contact(href=modifier.contactHref)&attributes(attributes)
    +greetings-screen__contact-img(modifier)