include ../../../img/svg/svg-home.pug
include ../../../img/svg/svg-person.pug
include ../../../img/svg/skills-and-services.pug
include ../../../img/svg/svg-bag.pug
mixin navigation__item-img(modifier)
  case modifier.imgName
    when 'home'
      +svg-home()(class="navigation__item-img")
    when 'person'
      +svg-person()(class="navigation__item-img")
    when 'bag'
      +svg-bag()(class="navigation__item-img")
    when 'skillsAndServices'
      +skills-and-services()(class="navigation__item-img")