.navigation__item-img {
  @include square(16px);
  display: none;
  @media (max-width: $md - 1px){
    display: block;
    @include square(30px);
  }
}

.active{
  .navigation__item-img{
    g, path{
      fill: $navigation__item-img_active;
    }
  }
}
