include __content/my-person-screen__content.pug
include __bio-value/my-person-screen__bio-value.pug
include __bio-name/my-person-screen__bio-name.pug
include __BIO/my-person-screen__bio.pug
include __text/my-person-screen__text.pug
include __title/my-person-screen__title.pug
include __about-me/my-person-screen__about-me.pug
include __text-container/my-person-screen__text-container.pug
include __img/my-person-screen__img.pug
mixin my-person-screen(modifier)
  .my-person-screen#myPersonScreen&attributes(attributes)
    +my-person-screen__content(modifier)