mixin navigation__item-content(modifier)
  if modifier["itemContent"] == undefined
    - modifier["itemContent"] = "empty__itemContent";
  span.navigation__item-content&attributes(attributes)!=modifier.itemContent
