.navigation__item-content {
  @include transition(0.1s);
  font-weight: 500;
  color: $navigation__item-content--Color;

  @media (max-width: $md - 1px){
    display: none;
  }
}

.active{
  .navigation__item-content{
    font-weight: 700;
    color: $navigation__item-content_active--Color;
    letter-spacing: 2px;
  }
}
