.portfolio-screen__example-container {
  border-radius: 10px;
  overflow: hidden;
  width: $example-of-work-width;
  height: $example-of-work-width*200/340;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
  @media (max-width: $xl - 1px){
    @include square(auto);
  }

  &:hover{
    @media (min-width: $xl){
      .portfolio-screen__example-hrefs{
        -moz-transition: all .25s ease 0s;
        -webkit-transition: all .25s ease 0s;
        -o-transition: all .25s ease 0s;
        transition: all .25s ease 0s;
      }
    }
  }
}
