mixin portfolio-screen__example-container(modifier)
  .portfolio-screen__example-container&attributes(attributes)
    +portfolio-screen__example-background(modifier)
    +portfolio-screen__example-hrefs(modifier)