$example-of-work-width: 450px;
@mixin href-button{
  display: inline-block;
  position: absolute;
  bottom: -70px;
  transition: bottom 0.15s linear;
  svg {
    width: 100px;
    height: 100px;
  }
  @media (max-width: $xl - 1px) {
    bottom: 0;
  }
}

@import '__example-description-button/portfolio-screen__example-description-button';
@import '__example-href-img/portfolio-screen__example-href-img';
@import '__example-git-href/portfolio-screen__example-git-href';
@import '__example-background/portfolio-screen__example-background';
@import '__example-container/portfolio-screen__example-container';
@import '__examples-of-work/portfolio-screen__examples-of-work';
@import '__button/portfolio-screen__button';
@import '__control/portfolio-screen__control';
@import '__title/portfolio-screen__title';
@import '__header/portfolio-screen__header';
@import '__content/portfolio-screen__content';
.portfolio-screen {
  min-height: 100vh;
  display: flex;
  font-family: 'Montserrat' ,"Arial" , sans-serif;
  justify-content: center;
  color: $portfolio-screen--Color;
  padding-top: 50px;
  @media (max-width: $md - 1px){
    padding-top: 15px;
  }
}

