.form-container__title {
  font-family: 'Montserrat' ,"Arial" , "Sans-serif";
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  color: $form-container__title--Color;
  padding-top: 31px;
  padding-bottom: 26px;
  margin-bottom: 55px;
  background-color: $form-container__title--BGColor;
  @media (max-width: $md - 1px){
    background-color: $transparent;
    margin-bottom: 3px;
  }

  &_desktop-only{
    @media (max-width: $md - 1px){
      display: none;
    }
  }
  &_mobile-only{
    @media (min-width: $md){
      display: none;
    }
  }
}
