.portfolio-screen__button {
  margin-right: 15px;
  @include transition();
  &:hover{
    letter-spacing: 1.5px;
    color: $portfolio-screen__button-hover--Color;
  }
  &:last-child{
    margin-right: 0px;
  }
  @media (max-width: $md - 1px){
    margin-bottom: 20px;
    margin-right: 0px;
    &:last-child{
      margin-bottom:0px;
    }
  }
}
