.skills-and-services-screen__cv-button {
  color: $skills-and-services-screen__CV-button--Color;
  background-color: $skills-and-services-screen__CV-button--BGColor;
  @include py(15px);
  @include px(10px);
  min-width: 150px;
  display: inline-block;
  text-align: center;
  -moz-transition: .5s ease-out;
  -webkit-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
  &:hover{
    background-color: $skills-and-services-screen__CV-button-hover--BGColor;
  }
  &:active{background-color: darken($skills-and-services-screen__CV-button-hover--BGColor, 15%);}
}
