mixin skills-and-services-screen__cv-button(modifier)
  if modifier["CVHref"] == undefined
    - modifier["CVHref"] = "#!";
  if modifier["CVbuttonText"] == undefined
    - modifier["CVbuttonText"] = "empty__CVbuttonText";
  a.skills-and-services-screen__cv-button(href=modifier.CVHref target="_blank")&attributes(attributes)!=modifier.CVbuttonText
